<?xml version="1.0" ?>
<model>
    <name>UDOCK_with_id0_dist</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Arvin Tangestanian</name>
        <email>arvint97@yorku.ca</email>
    </author>
    <description>If you are reading this, please have mercy on our grade!  </description>
</model>
